main {
    padding-top: 70px;
}
/*---------- TABELA ----------*/

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.table-container {
    width: 885px;
    padding: 1rem 2rem;
    margin-top: 100px;

    background-color: var(--white-color);
    border-radius: 3px;

    border-spacing: 0 0.75rem; 

    overflow-x: auto;
}

.table-title {
    font-size: 1.0625rem;
    font-weight: 500;
    color: var(--secondary-color);
}

.data-table {
    text-align: center;
    color: var(--black-color);
}

table tbody tr {
    opacity: 0.7;
}

table tbody tr:hover {
    opacity: 1;
}

/*---------- ICONES DA TABELA ----------*/

.fa-arrow-alt-circle-up {
    color: var(--green-color);
}

.fa-arrow-alt-circle-down {
    color: var(--red-color);
}

.fa-edit {
    color: var(--secondary-color);
    padding: 0 5px;
    cursor: pointer;
}

.fa-trash-alt {
    color: var(--red-color);
    padding: 0 5px;
    cursor: pointer;
}