/*---------- Global ----------*/
:root{
    --primary-color:#5B9CFD;
    --secondary-color: #81B3FF;
    --black-color: #5E4F4F;
    --green-color: #4FDF55;
    --red-color: #F57C7C;
    --orange-color: #DD7413;
    --white-color: #FFFFFF;
    --offwhite-color: #F4F4F4;

    --font-primary: 'Poppins', sans-serif;
    --font-secondary: 'Montserrat', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
}

body {
    font-size: 16px;
    background-color: #f4f4f4;
    font-family: var(--font-primary);
}

/*---------- Navbar ----------*/
.navbar-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;

    background-color: var(--primary-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 100vw;
    height: 70px;
}

.navbar-logo {
    margin-left: 100px;
    
    color: var(--white-color);
    font-size: 1.875rem;
    font-weight: 700;
}

.navbar-link-container {
    margin-right: 60px;
}

.icon {
    padding-right: 5px;
}

.navbar-link {
    padding: 0 20px;

    color: var(--white-color);
    font-size: 1.25rem;
    font-weight: 700;
    font-family: var(--font-secondary);
}

.navbar-link:hover {
    color: var(--secondary-color);
}

/*---------- Button ----------*/
.btn {
    width: 300px;
    height: 50px;
    background-color: var(--primary-color);

    border: 0;
    border-radius: 5px;

    color: var(--white-color);
    font-size: 1.125rem;
    font-weight: 700;
    cursor: pointer;

    transition: background .3s linear;
}

.btn:hover {
    background-color: var(--secondary-color);
}